.row {
  padding-bottom: 1em;
}

.tickIcon {
  height: 80px;
  width: 80px;
}

.error-message {
  color: red;
  font-style: italic;
  font-size: 14px;
  margin: 4px 0 0 20px;
  text-align: left;
}

.spacer {
  flex-grow: 1;
}

form {
  font-weight: 100;
}

input {
  border-bottom: solid 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: inherit;
  font-weight: 100;
  padding: 8px 16px 8px 16px;
}

input:focus {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: white;
  border-bottom: solid 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: inherit;
  font-weight: 100;
  margin: 0;
  padding: 8px 16px 7px 16px;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}

@media all and (max-width: 600px) {
  .row input {
    margin: 10px 0;
    width: 268px;
  }
  .row select {
    margin: 10px 0;
    width: 300px;
  }
}

@media all and (min-width: 600px) and (max-width: 900px) {
  .row input {
    margin: 5px 0;
    width: 218px;
  }
  .row select {
    margin: 5px 0;
    width: 250px;
  }
}

@media all and (min-width: 900px) and (max-width: 1200px) {
  .row input {
    margin: 5px 0;
    width: 343px;
  }
  .row select {
    margin: 5px 0;
    width: 375px;
  }
}

@media all and (min-width: 1200px) {
  .row input {
    margin: 5px 0;
    width: 468px;
  }
  .row select {
    margin: 5px 0;
    width: 500px;
  }
}

.align-right {
  display: flex;
  justify-content: flex-end;
}
